body[admin-panel="true"] {
    .accordion {
        .accordion-item {
            background: var(--ap-accordion-bg);

            .accordion-header {
                .accordion-button {
                    background: inherit;
                    color: var(--ap-color);
                    box-shadow: unset;
                    padding: 1.5rem 2rem;
                    font-weight: 600;

                    &:after {
                        background-image: var(--ap-accordion-arrow) !important;
                    }
                }

                .accordion-button,
                .accordion-button.collapsed {
                    border-radius: 0 !important;
                }
            }

            .accordion-header,
            .accordion-body {
                // padding: 0.5rem;
                padding: 0;
            }
        }
    }
}
