@mixin register-button($type, $outline: #CED4DA) {
    &.btn-#{$type} {
        border: 1px solid var(--ap-#{$type}-btn-border);
        background: var(--ap-#{$type}-btn-bg);
        color: var(--ap-#{$type}-btn-color);

        &:hover,
        &:active {
            color: var(--ap-#{$type}-btn-hover-color);
            background-color: var(--ap-#{$type}-btn-hover-bg);
        }

        &:focus {
            box-shadow: inset 0 0px 0px $outline, 0 0 0 3px $outline;
        }
    }
}


body[admin-panel="true"],
#admin-panel {
    .sort-trigger {
        color: var(--ap-color);
    }

    .btn,
    a.btn {
        border-radius: 4px;
        font-weight: 500;
        padding: 6px 12px;
        font-size: 1rem;

        box-shadow: none;
        display: inline-block;
        border: 1px solid var(--ap-primary-btn-border);
        color: var(--ap-color);

        &.btn-remove-url {
            right: 0;
            top: 0;
            height: 100%;
            border-radius: 0;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            display: flex;
        }

        &.btn-square {
            min-height: 38px;
            min-width: 38px;
            position: relative;

            i {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }

        i {
            margin-left: 0;
        }

        @include register-button("primary");
        @include register-button("secondary");
        @include register-button("default");
        @include register-button("outline-primary");
        @include register-button("outline-secondary");
        @include register-button("black", var(--ap-black-btn-outline-color));
        @include register-button("danger");
        @include register-button("success");
    }
}
