$color-active: #206b82;

#content .ap-content {
    .tabulator-wrapper {
        position: relative;

        &.fullscreen {
            #btn-fullscreen i:before {
                content: "\f066";
            }

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;

            .tabulator-container {
                height: 100%;
                margin: 0;
            }
        }

        .tabulator-container {
            position: relative;
            min-height: 120px;

            .tabulator-table {
                .tabulator-row {
                    &:last-child {
                        border-bottom: unset;
                    }
                }
            }
            .tabulator-footer {
                border-top: unset;

                .tabulator-footer-contents {
                    padding: 0;

                    .tabulator-paginator {
                        .tabulator-page-size {
                            max-width: 70px;
                            border-radius: 0.25rem;
                            padding: 6px 12px;
                        }

                        .tabulator-page {
                            border-radius: 0.25rem;
                            padding: 6px 12px;

                            &.active,
                            &:hover,
                            &:focus,
                            &:active {
                                background-color: $color-active;
                                border-color: $color-active;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            // this is to hide a "Loading..." message that appears when the table is loading
            // I'm not sure, that something important is lost by hiding it
            .tabulator-alert {
                display: none;
            }
        }
    }
}
