//
// Base styles
//

.accordion-button {
  padding: $accordion-button-padding-y 0.9em;

  &:not(.collapsed) {
    color: $accordion-button-color;
    background-color: $gray-50;
    box-shadow: none;

    &::after {
      background-image: escape-svg($accordion-button-icon);
    }
  }

  &:focus {
    border-color: $accordion-button-focus-border-color;
  }
}

.accordion-heading {
  margin-bottom: 0;
}

.accordion-item {
  border-bottom: $accordion-border-width solid $gray-300;
  &:last-of-type {
    // Restated after Bootstrap so it also applies inside .accordion-flush
    @include border-bottom-radius(var(--#{$prefix}accordion-border-radius));

    > .accordion-header .accordion-button {
      @include border-bottom-radius(var(--#{$prefix}accordion-inner-border-radius));
    }
  }
}

// Secondary accordions

.secondary .accordion {
  .accordion-item {
    background-color: transparent;
    border: none;

    &:has(.accordion-button:disabled),
    .module-content {
      background-color: $gray-100;
    }

    .module-content {
      padding: 1rem;
      border-radius: 0 0 .5rem .5rem;
    }
  }

  .accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: $primary;
    color: $white;
    border-radius: 0.5rem 0.5rem 0 0;

    .filter-svg {
      -webkit-text-stroke: 2px $white;
    }

    &::after {
      background-image: escape-svg($chevronActiveIcon);
    }
  }

  .accordion-button {
    background-color: $gray-100;

    &:disabled::after {
      background-image: none;
    }
  }

  .module-heading {
    border-radius: .5rem;
    font-weight: $font-weight-normal;
    display: flex;
    align-items: center;
    gap: 9px;
  }

  nav {
    padding: .5rem;
  }

  .accordion-collapse.show {
    background-color: $gray-100;
    border-radius: 0 0 .5rem .5rem;
  }

  .package-accordion .accordion-body {
    background-color: #fff;
    padding: 6px 0;
  }
}
