.groups-list {
    @include card-grid(2);
    margin-bottom: 2rem;
    list-style: none;
    padding-left: 0;
    width: 100%;

    @include media-breakpoint-down(md) {
        margin-bottom: $spacer-4;
        grid-template-columns: none;
    }
}

.groups-cards {
    list-style: none;
    background-color: $white;
    border: none;
    border-radius: 6px;
    padding: 1rem;

    a {
        display: grid;
    }

    h3 {
        margin: 16px 0;
    }

    input {
        margin-top: 1rem;
    }
}
