@use "sass:color";

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$border: 1px solid var(--ap-border-color);

$font-family: var(--bs-body-font-family);
$font-size: 12px;


:root {
    --ap-body-bg: white;
    --ap-border-color: #CED4DA;
    --ap-color: #1F3044;
    --ap-color-hover: black;
    --ap-color-link: #2A77A7;
    --ap-color-link-hover: #{color.adjust(#2A77A7, $lightness: -10%)};
    --ap-color-help: #575757;

    --ap-toolbar-bg: #F5F5F5;
    --ap-toolbar-color: #335A79;
    --ap-toolbar-border: #CED4DA;
    --ap-toolbar-home-btn-bg: #2A77A7;
    --ap-toolbar-home-btn-border: #2A77A7;
    --ap-toolbar-home-btn-color: white;

    --ap-accordion-arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231F3044'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --ap-accordion-bg: #F5F5F5;

    --ap-nav-item-bg: white;
    --ap-nav-item-bg-hover: #E9ECEF;

    --ap-theme-switcher-icon: "\f186";

    // buttons
    --ap-primary-btn-bg: #2A77A7;
    --ap-primary-btn-color: white;
    --ap-primary-btn-border: #2A77A7;
    --ap-primary-btn-hover-bg: #216C9A;
    --ap-primary-btn-hover-color: white;

    --ap-secondary-btn-bg: white;
    --ap-secondary-btn-color: #1F3044;
    --ap-secondary-btn-border: #CED4DA;
    --ap-secondary-btn-hover-bg: #CED4DA;
    --ap-secondary-btn-hover-color: #1F3044;

    --ap-default-btn-bg: white;
    --ap-default-btn-color: #1F3044;
    --ap-default-btn-border: #CED4DA;
    --ap-default-btn-hover-bg: #CED4DA;
    --ap-default-btn-hover-color: #1F3044;

    --ap-outline-primary-btn-bg: white;
    --ap-outline-primary-btn-color: #2A77A7;
    --ap-outline-primary-btn-border: #2A77A7;
    --ap-outline-primary-btn-hover-bg: #2A77A7;
    --ap-outline-primary-btn-hover-color: white;

    --ap-outline-secondary-btn-bg: white;
    --ap-outline-secondary-btn-color: #1F3044;
    --ap-outline-secondary-btn-border: #CED4DA;
    --ap-outline-secondary-btn-hover-bg: #CED4DA;
    --ap-outline-secondary-btn-hover-color: #1F3044;

    --ap-danger-btn-bg: #C6898B;
    --ap-danger-btn-color: white;
    --ap-danger-btn-border: #C6898B;
    --ap-danger-btn-hover-bg: #C07173;
    --ap-danger-btn-hover-color: white;

    --ap-black-btn-bg: #2A3A4D;
    --ap-black-btn-color: white;
    --ap-black-btn-border: #2A3A4D;
    --ap-black-btn-hover-bg: #1F3044;
    --ap-black-btn-hover-color: white;
    --ap-black-btn-outline-color: #335A79;

    --ap-success-btn-bg: #3A833A;
    --ap-success-btn-color: white;
    --ap-success-btn-border: #3A833A;
    --ap-success-btn-hover-bg: #2F6C2F;
    --ap-success-btn-hover-color: white;

    // forms

    --ap-form-control-bg: white;
    --ap-form-control-color: #1F3044;
    --ap-form-control-border: #CED4DA;
    --ck-color-base-background: white;

    // modal
    --ap-modal-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
